/* 
Change the values to what ever suits you and take into consideration images size
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.gallery {
  height: 100%;
  width: 100%;
  margin: 5% auto 0;
  display: flex;
}

.image-box {
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 0;
  transition: 0.5s;
}

.image-box img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.image-box:hover {
  flex-basis: 25%;
}

.active {
  flex-basis: 25%;
}

.gallery:hover .active {
  flex-basis: 0;
}

.image-box:nth-child(1):hover {
  flex-basis: 25%;
}
